@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f8fafc;
  }

  ::selection {
    background-color: rgba(79, 70, 229, 0.1);
    color: inherit;
  }
}

@layer components {
  .glass {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
  }
}